<ion-header>
  <ion-toolbar>
    <ion-title>Modal Detalles Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Title:  {{detalles.title}}
      </ion-col>
      <ion-col text-center>
        Visits: {{detalles.visits}}
      </ion-col>
      <ion-col text-center>
        Value: {{detalles.value}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModel()">Close</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>